.fonts {
  color: white;
}

.fotoproductos {
  width: 260px;
  height: 200px;
}
.cardsStyle {
  background-color: rgb(220, 220, 241);
  margin: 10px;
  border-style: solid;
  border-color: grey;
  height: 30rem;
}

.precios {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
