.detail_container {
  border: 1px solid white;
  border-radius: 20px;
  margin: 1em 5rem;
  width: 1000px;
  height: auto;
}

.detail_container .product_category {
  line-height: 0.3em;
  margin: 0 0 1.5em 0;
  color: #212529;
  background-color: #212529;
}

.detail_container .product_title {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
}

.detail_container .product_desc {
  font-size: 0.9rem;
  font-weight: 400;
}

.detail_container .card-text {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  margin: 0 0 1em 0;
  align-self: flex-start;
}

.detail_container .card-text::before {
  content: "$";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0.3rem 2em 0;
}

.text_container {
  padding: 2em 1.5rem 1em 1.5rem;
}

.imgDetail {
  height: auto;
  width: 300px;
}

.containerBtn {
  display: flex;
  justify-content: center;
}

.buy .buyBtn:hover {
  background-color: #fff;
  color: #626668c9;
}

.buyBtn {
  background-color: #626668c9;
  border: none;
  border-radius: 50px;
  padding: 0.5em 1.1rem;
  padding-right: 20px;
  margin: 1em 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  -webkit-box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.25);
}
