.containerOrder {
  width: 70%;
}

.containerForm {
  width: 50%;
}

.orderContainer {
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-top: 15px;
}

.cartInfo {
  font-size: 1rem;
  color: white;
}

.orderFinal {
  text-transform: uppercase;
  font-weight: 800;
}

h2 {
  font-weight: 700;
  color: white;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.808);
}

.botoncitoMagico {
  background-color: #626668c9;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 1rem;
  margin: 2em 0;
  padding: 0.5em 2rem;
  -webkit-box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.25);
}

.botoncitoMagicoEnviar {
  background-color: #106239c9;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 1rem;
  margin: 2em 0;
  padding: 0.5em 2rem;
  -webkit-box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 11px 10px -7px rgba(0, 0, 0, 0.25);
}

form .btn:hover,
.orderGenerated button:hover {
  background-color: #fff;
  color: #626668c9;
}

.orderGenerated {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orderGenerated p {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #3d3f41;
}

.orderGenerated h6 {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: #3d3f41;
}
label {
  color: white;
}
